node-red-mqtt-publisher.json
[
    {
        "id": "mqtt_publisher_flow_v2",
        "type": "tab",
        "label": "MQTT Publisher - Individual Global Nodes",
        "disabled": false,
        "info": "Publishes each global variable to separate MQTT topic.\n\nPattern:\n- Read: global.get('{variable_name}', 'localFile')\n- Publish: emon/{variable_name}\n\nTrigger: Every 2 seconds\nBroker: 5ce17770.7dd328"
    },
    {
        "id": "inject_2s_v2",
        "type": "inject",
        "z": "mqtt_publisher_flow_v2",
        "name": "Trigger every 2s",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "func_off_peak_rate",
                "func_on_peak_rate",
                "func_tou_daily_on_peak_cost",
                "func_tou_daily_off_peak_cost",
                "func_tou_daily_on_peak_kwh",
                "func_tou_daily_off_peak_kwh",
                "func_tou_status",
                "func_pea_ft",
                "func_emon_all_time_current_peak",
                "func_emon_all_time_energy_usage_peak",
                "func_emon_all_time_energy_usage_peak_date",
                "func_emon_all_time_load_peak",
                "func_emon_all_time_load_peak_date",
                "func_emon_all_time_pv_power_peak",
                "func_emon_all_time_pv_power_peak_date",
                "func_emon_all_time_pv_yield_peak",
                "func_emon_all_time_pv_yield_peak_date",
                "func_emon_battery_power",
                "func_emon_battery_soc",
                "func_emon_battery_temp",
                "func_emon_daily_battery_charge_energy",
                "func_emon_daily_energy_load",
                "func_emon_daily_grid_import",
                "func_emon_daily_pv_power_peak",
                "func_emon_daily_pv_power_peak_date",
                "func_emon_daily_pv_yield",
                "func_emon_day_consume",
                "func_emon_day_ratio",
                "func_emon_inverter_1_string_1_power",
                "func_emon_inverter_1_string_1_voltage",
                "func_emon_inverter_1_string_2_power",
                "func_emon_inverter_1_string_2_voltage",
                "func_emon_inverter_2_string_1_power",
                "func_emon_inverter_2_string_1_voltage",
                "func_emon_inverter_2_string_2_power",
                "func_emon_inverter_2_string_2_voltage",
                "func_emon_inverter_3_string_1_power",
                "func_emon_inverter_3_string_1_voltage",
                "func_emon_inverter_3_string_2_power",
                "func_emon_inverter_3_string_2_voltage",
                "func_emon_load_current",
                "func_emon_load_power",
                "func_emon_load_ratio",
                "func_emon_night_consume",
                "func_emon_night_ratio",
                "func_emon_pv_forecast_remain",
                "func_emon_pv_forecast_today",
                "func_emon_pv_power",
                "func_emon_voltage_battery",
                "func_emon_voltage_grid",
                "func_emon_voltage_load",
                "func_grid_daily_cost",
                "func_grid_monthly_cost",
                "func_grid_yearly_cost",
                "func_total_daily_cost",
                "func_total_daily_saved",
                "func_total_monthly_cost",
                "func_total_monthly_saved",
                "func_total_yearly_cost",
                "func_total_yearly_saved"
            ]
        ]
    },
    {
        "id": "func_off_peak_rate",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "off_peak_rate",
        "func": "const value = global.get('off_peak_rate', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/off_peak_rate', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 120,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_on_peak_rate",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "on_peak_rate",
        "func": "const value = global.get('on_peak_rate', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/on_peak_rate', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 160,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_tou_daily_on_peak_cost",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "tou_daily_on_peak_cost",
        "func": "const value = global.get('tou_daily_on_peak_cost', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/tou_daily_on_peak_cost', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 200,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_tou_daily_off_peak_cost",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "tou_daily_off_peak_cost",
        "func": "const value = global.get('tou_daily_off_peak_cost', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/tou_daily_off_peak_cost', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 240,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_tou_daily_on_peak_kwh",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "tou_daily_on_peak_kwh",
        "func": "const value = global.get('tou_daily_on_peak_kwh', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/tou_daily_on_peak_kwh', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 280,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_tou_daily_off_peak_kwh",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "tou_daily_off_peak_kwh",
        "func": "const value = global.get('tou_daily_off_peak_kwh', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/tou_daily_off_peak_kwh', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 320,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_tou_status",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "tou_status",
        "func": "const value = global.get('tou_status', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/tou_status', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 360,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_pea_ft",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "pea_ft",
        "func": "const value = global.get('pea_ft', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/pea_ft', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 400,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_emon_all_time_current_peak",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "emon_all_time_current_peak",
        "func": "const value = global.get('emon_all_time_current_peak', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/emon_all_time_current_peak', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 440,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_emon_all_time_energy_usage_peak",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "emon_all_time_energy_usage_peak",
        "func": "const value = global.get('emon_all_time_energy_usage_peak', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/emon_all_time_energy_usage_peak', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 480,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_emon_all_time_energy_usage_peak_date",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "emon_all_time_energy_usage_peak_date",
        "func": "const value = global.get('emon_all_time_energy_usage_peak_date', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/emon_all_time_energy_usage_peak_date', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 520,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_emon_all_time_load_peak",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "emon_all_time_load_peak",
        "func": "const value = global.get('emon_all_time_load_peak', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/emon_all_time_load_peak', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 560,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_emon_all_time_load_peak_date",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "emon_all_time_load_peak_date",
        "func": "const value = global.get('emon_all_time_load_peak_date', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/emon_all_time_load_peak_date', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 600,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_emon_all_time_pv_power_peak",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "emon_all_time_pv_power_peak",
        "func": "const value = global.get('emon_all_time_pv_power_peak', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/emon_all_time_pv_power_peak', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 640,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_emon_all_time_pv_power_peak_date",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "emon_all_time_pv_power_peak_date",
        "func": "const value = global.get('emon_all_time_pv_power_peak_date', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/emon_all_time_pv_power_peak_date', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 680,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_emon_all_time_pv_yield_peak",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "emon_all_time_pv_yield_peak",
        "func": "const value = global.get('emon_all_time_pv_yield_peak', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/emon_all_time_pv_yield_peak', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 720,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_emon_all_time_pv_yield_peak_date",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "emon_all_time_pv_yield_peak_date",
        "func": "const value = global.get('emon_all_time_pv_yield_peak_date', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/emon_all_time_pv_yield_peak_date', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 760,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_emon_battery_power",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "emon_battery_power",
        "func": "const value = global.get('emon_battery_power', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/emon_battery_power', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 800,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_emon_battery_soc",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "emon_battery_soc",
        "func": "const value = global.get('emon_battery_soc', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/emon_battery_soc', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 840,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_emon_battery_temp",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "emon_battery_temp",
        "func": "const value = global.get('emon_battery_temp', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/emon_battery_temp', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 880,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_emon_daily_battery_charge_energy",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "emon_daily_battery_charge_energy",
        "func": "const value = global.get('emon_daily_battery_charge_energy', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/emon_daily_battery_charge_energy', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 920,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_emon_daily_energy_load",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "emon_daily_energy_load",
        "func": "const value = global.get('emon_daily_energy_load', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/emon_daily_energy_load', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 960,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_emon_daily_grid_import",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "emon_daily_grid_import",
        "func": "const value = global.get('emon_daily_grid_import', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/emon_daily_grid_import', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 1000,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_emon_daily_pv_power_peak",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "emon_daily_pv_power_peak",
        "func": "const value = global.get('emon_daily_pv_power_peak', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/emon_daily_pv_power_peak', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1040,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_emon_daily_pv_power_peak_date",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "emon_daily_pv_power_peak_date",
        "func": "const value = global.get('emon_daily_pv_power_peak_date', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/emon_daily_pv_power_peak_date', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1080,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_emon_daily_pv_yield",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "emon_daily_pv_yield",
        "func": "const value = global.get('emon_daily_pv_yield', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/emon_daily_pv_yield', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 1120,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_emon_day_consume",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "emon_day_consume",
        "func": "const value = global.get('emon_day_consume', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/emon_day_consume', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 1160,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_emon_day_ratio",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "emon_day_ratio",
        "func": "const value = global.get('emon_day_ratio', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/emon_day_ratio', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 1200,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_emon_inverter_1_string_1_power",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "emon_inverter_1_string_1_power",
        "func": "const value = global.get('emon_inverter_1_string_1_power', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/emon_inverter_1_string_1_power', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1240,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_emon_inverter_1_string_1_voltage",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "emon_inverter_1_string_1_voltage",
        "func": "const value = global.get('emon_inverter_1_string_1_voltage', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/emon_inverter_1_string_1_voltage', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1280,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_emon_inverter_1_string_2_power",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "emon_inverter_1_string_2_power",
        "func": "const value = global.get('emon_inverter_1_string_2_power', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/emon_inverter_1_string_2_power', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1320,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_emon_inverter_1_string_2_voltage",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "emon_inverter_1_string_2_voltage",
        "func": "const value = global.get('emon_inverter_1_string_2_voltage', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/emon_inverter_1_string_2_voltage', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1360,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_emon_inverter_2_string_1_power",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "emon_inverter_2_string_1_power",
        "func": "const value = global.get('emon_inverter_2_string_1_power', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/emon_inverter_2_string_1_power', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1400,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_emon_inverter_2_string_1_voltage",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "emon_inverter_2_string_1_voltage",
        "func": "const value = global.get('emon_inverter_2_string_1_voltage', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/emon_inverter_2_string_1_voltage', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1440,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_emon_inverter_2_string_2_power",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "emon_inverter_2_string_2_power",
        "func": "const value = global.get('emon_inverter_2_string_2_power', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/emon_inverter_2_string_2_power', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1480,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_emon_inverter_2_string_2_voltage",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "emon_inverter_2_string_2_voltage",
        "func": "const value = global.get('emon_inverter_2_string_2_voltage', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/emon_inverter_2_string_2_voltage', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1520,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_emon_inverter_3_string_1_power",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "emon_inverter_3_string_1_power",
        "func": "const value = global.get('emon_inverter_3_string_1_power', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/emon_inverter_3_string_1_power', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1560,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_emon_inverter_3_string_1_voltage",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "emon_inverter_3_string_1_voltage",
        "func": "const value = global.get('emon_inverter_3_string_1_voltage', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/emon_inverter_3_string_1_voltage', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1600,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_emon_inverter_3_string_2_power",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "emon_inverter_3_string_2_power",
        "func": "const value = global.get('emon_inverter_3_string_2_power', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/emon_inverter_3_string_2_power', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1640,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_emon_inverter_3_string_2_voltage",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "emon_inverter_3_string_2_voltage",
        "func": "const value = global.get('emon_inverter_3_string_2_voltage', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/emon_inverter_3_string_2_voltage', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1680,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_emon_load_current",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "emon_load_current",
        "func": "const value = global.get('emon_load_current', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/emon_load_current', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 1720,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_emon_load_power",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "emon_load_power",
        "func": "const value = global.get('emon_load_power', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/emon_load_power', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 1760,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_emon_load_ratio",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "emon_load_ratio",
        "func": "const value = global.get('emon_load_ratio', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/emon_load_ratio', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 1800,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_emon_night_consume",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "emon_night_consume",
        "func": "const value = global.get('emon_night_consume', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/emon_night_consume', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 1840,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_emon_night_ratio",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "emon_night_ratio",
        "func": "const value = global.get('emon_night_ratio', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/emon_night_ratio', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 1880,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_emon_pv_forecast_remain",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "emon_pv_forecast_remain",
        "func": "const value = global.get('emon_pv_forecast_remain', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/emon_pv_forecast_remain', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1920,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_emon_pv_forecast_today",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "emon_pv_forecast_today",
        "func": "const value = global.get('emon_pv_forecast_today', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/emon_pv_forecast_today', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1960,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_emon_pv_power",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "emon_pv_power",
        "func": "const value = global.get('emon_pv_power', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/emon_pv_power', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 2000,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_emon_voltage_battery",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "emon_voltage_battery",
        "func": "const value = global.get('emon_voltage_battery', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/emon_voltage_battery', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 2040,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_emon_voltage_grid",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "emon_voltage_grid",
        "func": "const value = global.get('emon_voltage_grid', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/emon_voltage_grid', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 2080,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_emon_voltage_load",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "emon_voltage_load",
        "func": "const value = global.get('emon_voltage_load', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/emon_voltage_load', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 2120,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_grid_daily_cost",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "grid_daily_cost",
        "func": "const value = global.get('grid_daily_cost', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/grid_daily_cost', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 2160,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_grid_monthly_cost",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "grid_monthly_cost",
        "func": "const value = global.get('grid_monthly_cost', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/grid_monthly_cost', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 2200,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_grid_yearly_cost",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "grid_yearly_cost",
        "func": "const value = global.get('grid_yearly_cost', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/grid_yearly_cost', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 2240,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_total_daily_cost",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "total_daily_cost",
        "func": "const value = global.get('total_daily_cost', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/total_daily_cost', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 2280,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_total_daily_saved",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "total_daily_saved",
        "func": "const value = global.get('total_daily_saved', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/total_daily_saved', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 2320,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_total_monthly_cost",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "total_monthly_cost",
        "func": "const value = global.get('total_monthly_cost', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/total_monthly_cost', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 2360,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_total_monthly_saved",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "total_monthly_saved",
        "func": "const value = global.get('total_monthly_saved', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/total_monthly_saved', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 2400,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_total_yearly_cost",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "total_yearly_cost",
        "func": "const value = global.get('total_yearly_cost', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/total_yearly_cost', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 2440,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "func_total_yearly_saved",
        "type": "function",
        "z": "mqtt_publisher_flow_v2",
        "name": "total_yearly_saved",
        "func": "const value = global.get('total_yearly_saved', 'localFile');\nif (value !== undefined && value !== null) {\n    return { topic: 'emon/total_yearly_saved', payload: value };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 2480,
        "wires": [
            [
                "mqtt_out_v2"
            ]
        ]
    },
    {
        "id": "mqtt_out_v2",
        "type": "mqtt out",
        "z": "mqtt_publisher_flow_v2",
        "name": "MQTT Broker",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5ce17770.7dd328",
        "x": 750,
        "y": 1300,
        "wires": []
    }
]
